/* line 14, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, ../sass/lasers.sass */
body {
  font-family: "myriad-pro-semi-condensed-1", "myriad-pro-semi-condensed-2", sans-serif;
  font-size: 14px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0%, #4a4d7f), color-stop(100%, #1e1a41));
  background-image: -moz-linear-gradient(left, #4a4d7f 0%, #1e1a41 100%);
  background-image: linear-gradient(left, #4a4d7f 0%, #1e1a41 100%);
  overflow: hidden;
}

/* line 11, ../sass/lasers.sass */
h1 {
  color: #ebb3f2;
  font-family: "continuo-1", "continuo-2", impact, arial, sans-serif;
  font-size: 120px;
  position: absolute;
  text-shadow: #aa7aa3 1px 1px 10px;
  -moz-transform: scale(1) rotate(-13deg) translate(100px, 100px) skew(0deg, 0deg);
  -webkit-transform: scale(1) rotate(-13deg) translate(100px, 100px) skew(0deg, 0deg);
  -o-transform: scale(1) rotate(-13deg) translate(100px, 100px) skew(0deg, 0deg);
  transform: scale(1) rotate(-13deg) translate(100px, 100px) skew(0deg, 0deg);
  z-index: 1;
}
/* line 20, ../sass/lasers.sass */
h1.no-power {
  color: white;
  text-shadow: none;
}

/* line 24, ../sass/lasers.sass */
#promotejs {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1337;
}

/* line 30, ../sass/lasers.sass */
#facts {
  background: rgba(0, 0, 0, 0.75);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  bottom: 10px;
  color: white;
  line-height: 1.5;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
}
/* line 41, ../sass/lasers.sass */
#facts a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
/* line 46, ../sass/lasers.sass */
#facts li:before {
  content: "★ ";
}
/* line 49, ../sass/lasers.sass */
#facts .snowman {
  color: #d7f3fa;
  margin-bottom: 3px;
  font-weight: bold;
  text-shadow: #93aeff 1px 1px 10px;
}
/* line 55, ../sass/lasers.sass */
#facts .snowman:before {
  content: "";
}
/* line 59, ../sass/lasers.sass */
#facts .tweet:before {
  content: "";
}

/* line 62, ../sass/lasers.sass */
.laser {
  display: block;
  height: 3px;
  overflow: hidden;
  position: absolute;
  -moz-transform-origin: 0px 0px;
  -webkit-transform-origin: 0px 0px;
  -o-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
  width: 4000px;
}

/* line 79, ../sass/lasers.sass */
.blue {
  background: #d7f3fa;
  -webkit-box-shadow: #93aeff 0px 0px 20px, #93aeff 0px 0px 20px, #93aeff 0px 0px 20px;
  -moz-box-shadow: #93aeff 0px 0px 20px, #93aeff 0px 0px 20px, #93aeff 0px 0px 20px;
  -o-box-shadow: #93aeff 0px 0px 20px, #93aeff 0px 0px 20px, #93aeff 0px 0px 20px;
  box-shadow: #93aeff 0px 0px 20px, #93aeff 0px 0px 20px, #93aeff 0px 0px 20px;
}

/* line 82, ../sass/lasers.sass */
.purple {
  background: #ebb3f2;
  -webkit-box-shadow: #aa7aa3 0px 0px 20px, #aa7aa3 0px 0px 20px, #aa7aa3 0px 0px 20px;
  -moz-box-shadow: #aa7aa3 0px 0px 20px, #aa7aa3 0px 0px 20px, #aa7aa3 0px 0px 20px;
  -o-box-shadow: #aa7aa3 0px 0px 20px, #aa7aa3 0px 0px 20px, #aa7aa3 0px 0px 20px;
  box-shadow: #aa7aa3 0px 0px 20px, #aa7aa3 0px 0px 20px, #aa7aa3 0px 0px 20px;
}
